@font-face {
    font-family:National;
    src:url(https://andrewtwist859.github.io/fonts/national-test-book.woff) format("woff")
   }

span.number {
    font-family: 'Montserrat';
    font-weight: 900;
}

.green-highlight, .pink-highlight, .yellow-highlight {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 3px;
 }

.green-highlight {
    background: #99FFCC; /* Default color, all browsers */
}

h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
}

@media only screen and (min-width : 375px) and (max-width : 812px)
{
 footer {
     padding-top:0.5rem;
     padding-bottom: 0.5em;
 }   
    
    /* STYLES GO HERE */}