html, body {
    background-color: #f7f7f7;
    height: 100%;
    font: 100%/1.75 Inter, "San Francisco", Roboto, "Helvetica Neue", Helvetica, "Noto Sans", "Segoe UI", Arial, sans-serif;;
    font-feature-settings: 'cv11', 'cv05', 'kern';
}

.ep-teaser {
    display: flex;
    max-width: 66.66%;
}


.ep-art img {
    max-width: 150px;
}

.ep-art {
    margin-right: 2rem;
    }

* {
    margin: 0;
    padding: 0;
    }

    a:focus {
        outline: 3px solid transparent;
        color: #0b0c0c !important;
        background-color: #fd0;
        box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        text-decoration: none;
    }
    
    a:focus img {
        background-color: #fd0;
    
    }

/* Header */


.header-container {
    background-color: #020014;
    padding-top: 1rem;
    padding-bottom:0.5rem;
    margin-bottom: 1.75rem;
}

.header-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;

}

.header-content a {
    text-decoration: none;
    color: snow;
    font-size: 1.4rem;
    text-decoration: none;
}

.header-content img  {
    margin-bottom: -19px;
}

.header-nav {
    padding-left: 5px;
    padding-right: 5px;
}

/* Desktop nav */

@media (min-width: 37.5em){
    .header-nav {
        float: right;
        border-top: none;
        border-bottom: none;
        padding-top: 0.5rem;
    }
    }

@media (max-width: 37.5em){
    .header-content img {
    margin-left: 20px;
    padding-bottom: 1rem;
}
}

/* Navigation */

.nav a:link, .nav a:visited {
    text-decoration: none;
    display: block;
    padding: 15px 15px 15px;
    font-size: 18px;
}

.nav span {
        display: inline-block;
        position: relative;
        padding-bottom: 0.25rem;
}

.nav span:after {
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    background:linear-gradient(90deg, rgba(255,0,97,1) 0%, rgba(0,140,255,1) 100%); 
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav span:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nav ul {
    white-space: normal;
    overflow-x: initial;
}

.nav ul {
    list-style: none;
    white-space: nowrap;
    font-size: 0px;
}

.nav li {
    display: inline-block;
    font-weight: 800;
    line-height: 20px;
    font-size: 16px;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}




.section__purple{
    background-image: url('http://andrewtwist859.github.io/images/purple.png');
        background-color: #471278;
        padding: 85px 0;
        color: #ffffff;
}

.section__purple a {
    color: #ffffff;
}

.cards {
    list-style: none;
    margin: 0;
    padding-left: 0;
    }

.cards__card50 {
    width: calc(50% - 1rem);
    position: relative;
    border: 0;
    border-radius: 0px;
    margin-bottom: 1.75rem;
    display: flex;
    flex-direction: column;
}

.cards__card33 {
    width: calc(33% - 1rem);
    position: relative;
    border: 0;
    border-radius: 0px;
    margin-bottom: 1.75rem;
    display: flex;
    flex-direction: column;
}

.cards__cardpod {
    width: calc(50%);
    position: relative;
    border: 0;
    border-radius: 0px;
    margin-bottom: 1.75rem;
    display: flex;
    flex-direction: row;
}

.cards__card__text-wrapper {
    padding: 0 1rem 2rem;
    color: #3b3b3b;
    background-color: white;
    box-sizing: border-box;
    flex: 1 1 auto;
    order: 1;
    z-index: 1;
}

.cards__card__title,  .ep-text h2 {
    font-family: Bree-Serif, Helvetica, sans-serif;
    font-size: 1.375rem;
    padding: 1rem 0 .75rem;
    margin: 0;
    font-weight: 800;
    line-height: 1.4;
    }

    .ep-text h2 {
        padding-top: 0;
    }

.cards__card__text {
    font-family: Inter, helvetica;
    line-height: 1.5rem;
    margin: 0;
}

.cards__card__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: box-shadow .25s ease-in-out;
    z-index: 3;
    }


.cards__card__link {
    color: black;
    text-decoration: none;
    width: 100%;
}

.cards__card__link:hover {
    text-decoration: underline;
}

.cards__card__link:after {
    display: inline-block;
}


    .cards__card__link:hover:before {
    box-shadow: 0 15px 25px rgba(10,2,2,.15),0 5px 10px rgba(10,2,2,.05);
    }    


    .cards__card__title:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 5px;
        bottom: 0;
        left: 0;
        background:linear-gradient(90deg, rgba(255,0,97,1) 0%, rgba(0,140,255,1) 100%); 
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
      }

      .cards__card__title:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
  

.cards__card__image-wrapper {
    height: 0;
    padding-top: 50%;
    position: relative;
    background-image: url("../img/placeholder-uol-icon.svg");
    background-size: cover;
    background-clip: padding-box;
    overflow: hidden;
    text-align: center;
    border-bottom: 0px;
    }

    .cards__card__image-wrapper__pod {
        flex: 1;
    order: 1;
    z-index: 1;
    position: relative;
    border-bottom: 0px;
        }

    .cards__card__image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;
        }

        .cards__card__image__sq {
            position: absolute;
            top: 0;
            width: auto;
            height: 100%;
            }
        .cards__card:hover .cards__card__link:after {
            width: 100%;
            }

@media (min-width: 48em){
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    }

    .cards__cardpod {
        display: flex;
        justify-content: space-between;

    }

    
    @media (max-width: 48em){

        .cards__card__text {
            font: 100%/1.75 "San Francisco", Roboto, "Helvetica Neue", Helvetica, "Noto Sans", "Segoe UI", Arial, sans-serif;
        }

        .container {
            margin-right: 1rem;
            margin-left: 1rem;
        }

        .cards__cardpod {
            display:inline-block;
        }
        
        .cards__card50, .cards__card33, .cards__cardpod {
            width: 100%;
        }

        .ep-teaser {
            display: inline-block !important;
            max-width: 100%;
              
        }
    
        .ep-art{
            margin-bottom: 1rem;
        }
    
        .ep-art img {
            max-width: 100px;
        }
    }

    p.summary {
        margin-bottom: 0.5rem;
        
        }

        span.date {
            color: var(--bc-color);
            font-weight: 700;
            font-size: 1rem;
            }

          
            .uol-banner-outer {
                background: black;
                overflow: hidden;
                margin-bottom: 1.5rem;
              }
              
              .uol-banner-container {
                box-sizing: border-box;
                max-width: 1440px;
                margin: 0 auto;
                position: relative;
                color: white
              
              }

              .uol-banner {
                list-style: none;
                margin: 0;
                padding: 0 0 2rem;
                display: flex;
                height: auto;
              }

            

              .uol-banner__item {
                position: relative;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                padding: 0 1rem 2rem;
                width: 100%;
                transition: opacity .2s ease;
            }
              

              .uol-banner__item__img {
                order: -1;
                width: calc(100% + 1rem * 2);
                margin: 0 -1rem;
                height: auto;
                min-height: 1px;
              }

              @media (min-width: 64em) {
                .uol-banner__item {
                    width: 100%;
                    display: block;
                    padding-bottom: 1rem;
                }
            }

            @media (min-width: 64em) {
                .uol-banner__item__img {
                    width: 62%;
                    position: absolute;
                    top: 2rem;
                    right: 0;
                }
            }

@media (min-width: 90em) {
    .uol-banner__item__img {
        width: 60%;
        top: 0;
    }
}

@media (min-width: 90em) {
    .uol-banner__item__title {
        width: 38%;
        margin-top: 4rem;
        font-size: 2rem;
        font-family: Bree-Serif;
        line-height: 3rem;
    }
}

@media (min-width: 90em) {
    .uol-banner__item__lead {
        width: 38%;
    }
}

@media (min-width: 90em) {
    .uol-banner__item__link {
        max-width: 38%;
    }
}

@media (min-width: 64em) {
    .uol-banner__item::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        padding-bottom: 28%;
        float: right;
    }
}

@media (max-width: 1920px) {
    .container, .header-content {
        max-width: 1280px;
        margin:auto
    }}

    @media (min-width: 1920px) {

    .container, .header-content {
        margin: 1rem;
        max-width: 1440px;
        margin: auto;
    }}

    @media (max-width: 48em) {
    .container {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    }