.vertical-shelf-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Keep items in a single line */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
    padding: 2rem 0rem;
  }

  .vertical-shelf {
    display: inline-flex; /* Keep the vertical-video items side by side */
    gap: 10px; /* Adjust spacing between videos */
  }

  .vertical-video {
    flex: 0 0 auto; /* Prevent shrinking and ensure consistent sizing */
    width: 80%; /* Adjust the width as needed to fit mobile view */
    max-width: 225px; /* Optional: Set a maximum width for videos */
  }

.vertical-thumbnail {
  position: relative;
  aspect-ratio: 3 / 4; /* 9:16 aspect ratio */
  overflow: hidden;
  border-radius: 5px;
}

.vertical-thumbnail:hover {
  cursor: pointer;
}

.vertical-thumbnail img {
    width: 100%;
    height: auto;
    display: block;
  }

.vertical-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.95) 100%);
  transition: background 1.2s ease-out; 

}

.vertical-overlay:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.95) 100%);

}

.vertical-duration {
  font-family: "Source Sans 3", sans-serif !important;
  color: white;
  font-size: 0.75rem;
  font-weight:600;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px 6px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.vertical-title {
  color: white;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: "Source Sans 3", sans-serif !important;
  margin: 0;
  text-wrap: balance;
  max-width:20ch;
}

@media (max-width: 768px) {

.vertical-video {
    max-width: 150px; /* Optional: Set a maximum width for videos */
  }
}